<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'  'unsafe-inline'; style-src 'self' 'unsafe-inline';"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name = "format-detection" content = "telephone=no">
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/dropload.css">
	<link rel="stylesheet" href="../css/babyList.css">
	<title>宝贝</title>
    <script src="../libs/jquery-3.2.1.min.js"></script>
    <script src="../libs/rem.js"></script>
    <script src="../libs/dropload.js"></script>
    <script src="../js/babyList.js"></script>
</head>
<body>
	<div id="index-search">
		<div class="search-view"><a href="" class="searchUrl"><div class="search-test">搜索</div></a></div>
	</div>
	<div id="img-list" class="content">
		<div class="lists"></div>
		<!-- <a href="">
			<div class="img-container">
				<div class="img-msg">
					<p>name <span class="hasNum">（单数）</span></p>
					<div class="isOnline"><p>在线</p></div>
				</div>
			</div>
			<div id="explain">
				<div class="left-view">
					<p>场所：<span class="adress">你确定要选择低低</span><span class="adress">环球一号</span>...</p>
					<p>范围：<span class="range">111</span></p>
				</div>
				<div class="right-view">￥1200.0/场次</div>
			</div>
		</a> -->
	</div>
</body>
</html>