<!DOCTYPE html>
<html lang="en" ng-app="orderApp">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name = "format-detection" content = "telephone=no">
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'  'unsafe-inline'; style-src 'self' 'unsafe-inline';"/>
    <link rel="stylesheet" href="../css/style.css">
    <title>包厢</title>
    <script>
        var s = document.documentElement.clientWidth;
        document.documentElement.style.fontSize = s/25+ "px";
    </script>
    <script src="../libs/angular.min.js"></script>
</head>
<body ng-controller="orderCtr" ng-cloak>
<div class="container">
    <div class="orderInfo clear">
        <ul class="clear">
            <li class="clear"><span>联系电话：</span><input type="text" placeholder="请填写您真实的电话" maxlength="11" ng-model="phone" ng-readonly="true"></li>
            <li class="clear"><span>昵<em>空空</em>称：</span><input type="text" placeholder="请填写昵称" ng-model="name" ng-readonly="true"></li>
            <li class="clear"><span>时<em>空空</em>间：</span><input type="text" placeholder="请填写见面时间" id="timeMeeting" ng-model="time" ng-readonly="true" ng-disabled="readOnly">
                <p>*只能选择2小时之后的时间</p></li>
            <li class="clear"><span>地<em>空空</em>址：</span><input type="text"  placeholder="请填写真实可用的见面地址" ng-model="address" ng-focus="addressFirst()" ng-disabled="can"/><input class="num" type="text" placeholder="请填写具体的包厢号" ng-model="number" ng-change="store()" ng-disabled="can"/></li>
        </ul>
        <a class="addBaby"  ng-click="invitedChoose()">添加宝贝</a>
    </div>

    <div class="mask" id="mask1" ng-show="isShow">
        <div class="tip">
            <p>{{content}}</p>
            <a href="javascript:;" ng-click="know()">我知道了</a>
        </div>
    </div>
</div>
<script src="../js/app.js"></script>
<script src="../js/order.js"></script>
<script src="../libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../libs/datePicker.js"></script>
</body>
</html>